@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.TabsRoot {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 300px;
  background-color: var(--accent-3);
  border-radius: 1rem;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  line-height: 3.5rem;
  height: 3.5rem;
}

.TabsTrigger {
  cursor: pointer;
  font-family: inherit;
  background-color: white;
  padding: 0 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(16, 16, 16);
  user-select: none;
  background-color: var(--accent-2);
  font-size: 1.3rem;
}

.TabsTrigger:first-child {
  border-top-left-radius: 6px;
}

.TabsTrigger:last-child {
  border-top-right-radius: 6px;
}

.TabsTrigger[data-state='active'] {
  cursor: default;
  color: rgb(16, 16, 16);
  background-color: var(--accent-3);
  font-weight: 500;
}
.TabsTrigger::before {
  content: none;
}
.TabsTrigger:focus {
  position: relative;
}
.TabsTrigger:hover .rt-TabsTriggerInner {
  background: none;
}

.TabsContent {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
  background-color: var(--accent-3);
}

.Input {
  border-radius: 4px;
  width: 350px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: rgb(16, 16, 16);
  height: 3rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(71, 56, 53);
  border-radius: 0.3rem;
}
.Input:focus {
  border: 2px solid rgb(71, 56, 53);
  box-shadow: none;
}
